.searchResultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 2rem;
}

.searchResults {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 42rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  margin: 10px auto;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.searchResults::-webkit-scrollbar {
  display: none;
}

@media (max-width: 900px) {
  .searchResultsContainer {
    padding: 1rem;
  }
  .searchResults {
    max-width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 600px) {
  .searchResultsContainer {
    padding: 0.5rem;
    align-items: stretch;
  }
  .searchResults {
    max-width: 100vw;
    border-radius: 0;
    margin: 0;
    padding: 0.5rem 0;
  }
}

.noTracks {
  color: gray;
  font-style: italic;
}

.invisibleButton {
  visibility: hidden; /* Makes the button invisible */
  pointer-events: none; /* Prevents the button from being clicked */
  background-color: purple; /* Same styles as the Playlist button */
  width: 200px;
  color: white;
  border: none;
  border-radius: 98px;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

