.track {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Distribute space evenly */
  gap: 10px; /* Add consistent spacing between elements */
}
.elementsContainer {
  border-bottom: 1px solid #ffffff;
  width: 100%; /* Make the text container take full width */
  display: flex;
  gap: 10px; /* Add space between heading and paragraph */
  flex: 1; /* Allow text container to grow */
  align-items: center;
  margin: 0px 10px 0 10px;
  font-family: sans-serif;
}



.elementsContainer .textContainer {
  width: 100%; /* Make the text container take full width */
  gap: 10px; /* Add space between heading and paragraph */
  flex: 1; /* Allow text container to grow */
  align-items: center;
  font-family: sans-serif;
  padding-bottom: 5px;
  padding-top:5px;
}

.track .elementsContainer .textContainer .trackName {
  margin: 0;
  font-size: 1.1em;
  color: white;
}

.track .elementsContainer .textContainer p {
  margin: 0;
  color: rgb(186, 179, 179)
}

.track .elementsContainer .Button {
  color: white;
  font-size: 1.5rem;
  padding-right:0.5rem;
  margin:0 0;
}
.track .elementsContainer .Button:hover {
  cursor: pointer; /* Change mouse to hand when hovering over p */
}


.track .elementsContainer button:hover {
  background-color: #0056b3;
}