.nowPlayingBarContainer{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: fit-content;
}
.nowPlayingBar {

    width: 100%;
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    position: relative; /* Ensure it stays in the normal document flow */
    z-index: 0; /* Ensure it doesn't overlap the lyrics bar */
  }

.lyrics{
  color:white;
  font-size: 15px;
}
.lyricsBar{
    width: 100%;
    background-color: #343538;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    position: relative; /* Ensure it stays in the normal document flow */
    z-index: 1; /* Ensure it appears above other elements if needed */
}