.nowPlayingBarContainer{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: fit-content;
  text-align: center;
  background-color: #282c34;
}
.nowPlayingBar {
    padding: 3px;
    width: 100%;
    background-color: #282c34;
    color: white;
    padding: 10px 0;
    font-size: 15px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    position: relative; /* Ensure it stays in the normal document flow */
    z-index: 0; /* Ensure it doesn't overlap the lyrics bar */
  }
.likedButton{
  padding: 5px 0 0 10px;
}
.lyrics{
  color:white;
  font-size: 15px;
}

.nowPlayingBar .playPauseButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.desktopOnly {
  display: inline;
}
.mobileOnly {
  display: none;
}

@media (max-width: 600px) {
  .desktopOnly {
    display: none !important;
  }
  .mobileOnly {
    display: inline !important;
  }
}