  .listContainer {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .header {
    text-align: center;
  }

  .header p {
    font-size: 1rem;
    margin: 0;
  }
  .app{font-size: 1rem;}