  .app{
    text-align: center;
  }
  .listContainer {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .header {
    text-align: center;
  }

  .header p {
    font-size: 1.1rem;
    margin: 0;
  }

  .welcomeText{ 
    text-align: center; 
    margin-top: 2rem;
  }

SearchResults{
  width:100%;
}