.lyricsBar{
    width: 100%;
    background-color: #343538;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    position: relative; /* Ensure it stays in the normal document flow */
    z-index: 1; /* Ensure it appears above other elements if needed */
}